
    {% extends 'base.html' %}
    {% block content %}
        <main>
            <section>
                <div class="text_area">
                    <div class="title">
                        Dreams
                    </div>
                    <div class="sub-title">
                        you are welcome
                    </div>
                    <div class="search-box">
                        <input type="Search" name="">
                        <button class="Search-btn">Search</button>
                    </div>
                </div>
                <div class="image_area"></div>
            </section>
        </main>
    {% endblock %}
    